.flex{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    li{
        padding: 1em;
    }
}
.section{
    margin: 1em;
    display: flex;
    .col-sm{
        width:40%;
    }
}
.issue-container{
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap;
    

    .card{

        padding: 2em;
        margin: .5em;
        font-size: medium;
        border: 1px solid grey;

        .gpnnumber{
            
            padding: .5em;
        }
        .issuedesc{
            padding: .5em;

        }
    }
}